{
    "extends": ["airbnb"],
    "rules": {
        "no-return-assign": "off",
        "no-param-reassign": "off",
        "react/jsx-filename-extension": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "quote-props": "off",
        "arrow-parens": "off",
        "object-curly-newline": "off"
    },
    "env": {
        "browser": true,
        "node": true
    }
}